@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  padding: 30px 160px;
}
.cart-content-section{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.cart-order-product-summry{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cart-items-count{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-items-count>h1{
    font-weight: 450;
}
.cart-items-count>span{
    font-size: 24px;
    opacity: 0.7;
}
.empty-cart-msg{
    flex-direction: column;
    display: none;

}
.empty-cart-msg>p{
    font-size: 14px;
    opacity: 0.7;
}
.empty-cart-msg>p>a{
    color: black;
    text-decoration: underline;
}

/* product details when added to the cart */
.product-added-cart-container{
    padding: 20px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.7);
}
.top-line-item-container{
    padding-bottom: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.item-title{
    font-size: 20px;
    font-weight: 550;
}
.price-qty{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
}
.item-qty{
    display: flex;
    align-items: center;
}
.qty-decrease-btn,
.qty-increase-btn{
    height: 40px;
    width: 40px;
    font-size: 24px;
}
.qty-input{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}
.item-total{
    display: flex;
    justify-content: flex-end;
}
.item-total>p{
    font-weight: 550;
    font-size: 20px;
}
.bottom-line-item-container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    gap: 30px;
}
.item-img{
    width: 25%;
}
.item-img>img{
    width: 100%;
    height: 200px;
}
.product-availability{
    width: 57%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ship-details>div,
.warehouse-pickup>div{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.7;
}
.product-availability input[type="radio"] {
  transform: scale(1.4);
  accent-color: black;
}
.ship-details>div>label,
.warehouse-pickup>div>label{
    font-size: 16px;
    font-weight: 450;
}
.ship-details a,
.warehouse-pickup a{
    color: black;
    text-decoration: underline;
}
.ship-details>p,
.pin-code,
.warehouse-pickup>p,
.warehouse-pickup>a{
    padding-left: 25px;
    font-size: 12px;
}
.item-actions{
    width: 18%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.remove,
.save-for-later{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.remove{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.remove>p,
.save-for-later>p{
    font-size: 13px;
}
.remove>i,
.save-for-later>i{
    font-size: 24px;
}
.gift-msg>span{
    margin-left: 5px;
    font-size: 12px;
}
.bi-gift{
    font-size: 20px;
}
.gift-msg a{
    color: black;
    text-decoration: underline;
}

/* donation */
.donation-container{
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.donation-container>img{
    width: 240px;
    height: 260px;
}
.donation-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.donation-message{
    font-size: 14px;
}
.donation-price-btns{
    display: flex;
    gap: 20px;
}
.price-buttons{
    padding: 7px 15px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #f0efed;
    cursor: pointer;
}
.donation-add-btn>button{
    padding: 7px 25px;
    font-weight: 450;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

/* cart order payment summary */
.cart-order-payment-summry{
    width: 30%;
    height: fit-content;
    position: sticky;
    top: 20px;
}

/* gift card */
.gift-card-container{
    width: 100%;
    height: auto;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: #f0efed;
    display: none;
}
.gift-card-container>img{
    width: 150px;
    height: 100px;
}
.gift-card-heading{
    text-align: center;
    font-weight: 550;
}
.gift-card-details{
    font-size: 14px;
    text-align: center;
}
.gift-card-details>span{
    color: red;
    font-weight: 600;
}
.gift-card-links{
    display: flex;
    gap: 20px;
}
.gift-card-links>a{
    color: black;
    text-decoration: underline;
}

/* cart order summary box */
.cart-order-summary-box{
    border: 2px solid black;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: none;
}
.order-summary-heading{
    display: flex;
    align-items: center;
    gap: 10px;
}
.order-summary{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.order-summary-heading>.bi-bag-dash{
    font-size: 20px;
}
.order-summary-title{
    font-weight: 450;
}
.summary-box,
.order-total,
.promocode-div,
.promocode-content,
.promocode-inputBtn{
    display: flex;
    justify-content: space-between;
}
.promocode-div{
    flex-direction: column;
    gap: 7px;
}
.promocode-inputBtn{
    width: 100%;
}
.promocode-inputBtn>input{
    width: 70%;
    padding: 5px 7px;
}
.promocode-inputBtn>button{
    width: 30%;
}
.promocode-details{
    display: none;
}
.summary-box>p:nth-child(2),
.order-total>p{
    font-weight: 550;
}
.order-total,
.promocode-div{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.promocode-message{
    font-size: 12px;
    font-weight: 500;
}
.discount-message{
    font-size: 11px;
    color: green;
}
.checkout-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.term-condition>p{
    font-size: 11px;
}
.term-condition>p>a{
    color: black;
    text-decoration: underline;
}
.checkout-btn>button{
    padding: 13px 0;
    font-weight: 550;
    color: #fff;
    border: none;
    background-color: #007b00;
    cursor: pointer;
}
.payment-method{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.payment-method> .box{
    width: 50%;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.product-added-cart-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.cart-items-content-div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 15px;
}
@media(max-width:320px){
    .item-title {
    font-size: 10px;
    font-weight: 550;
}
main {
  width: 100%;
  padding: 30px 0px;
}
.cart-content-section {
    width: 100%;
    display: grid;
    align-items: flex-start;
    gap: 40px;
}
.donation-container {
    padding:10px;
    display: grid;
    align-items: center;
    gap:10px;
}
.price-qty {
    display: grid;
    gap: 15px;
}
.donation-message {
    font-size: 10px;
    text-align: center;
   margin: 10px 20px;
}
.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.donation-price-btns {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:0px;
}
.donation-container>img {
    width: 189px;
    font-size:10px;
    height: 202px;
}
h2{
    font-size:18px;
}
.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
}