@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  padding: 30px 0;
  width: 100%;
}
.signUp-page-container {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUp-form {
  width: 40%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.account-heading {
  margin-bottom: 10px;
}
.account-heading > h2 {
  text-align: center;
  font-weight: 450;
  font-size: 30px;
  margin-bottom: 5px;
}
.account-heading > p {
  font-size: 13px;
  text-align: center;
  opacity: 0.7;
}
.input-box > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-box > div > label {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 5px;
}
.input-box > div > span {
  font-size: 13px;
  opacity: 0.6;
}
.input-box > input {
  width: 100%;
  padding: 10px 15px;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #fbfcfe;
  transition: all 0.3s ease;
}
.input-box > input:hover {
  border: 2px solid rgba(64, 157, 169, 0.8);
}
.input-box > input:focus-within {
  border: 2px solid rgb(91, 91, 247);
  box-shadow: rgba(91, 91, 247, 0.6) 0px 1px 2px 0px;
}
.input-box > input::placeholder {
  opacity: 0.7;
}
.btn-container {
  margin-top: 15px;
}
#signup_btn {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 550;
  border-radius: 8px;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.35);
  background-color: black;
}
.btn-container > div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  margin-top: 10px;
}
.btn-container > div > input {
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  background-color: black;
}
#term_condition {
  font-size: 14px;
  padding-left: 10px;
  text-align: center;
}

/* Accont creation popup */
.success-msg-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px 25px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  z-index: -9999;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.2);
  transition: all 0.4s ease;
  background-color: #d4edda;
}
.active-success-msg {
  z-index: 99999;
  opacity: 1;
  filter: brightness(1);
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}
.signUp-form-disable,
.footer-disable,
.header-disable {
  opacity: 0.1;
  z-index: -9999;
  pointer-events: none;
}
.success-icon {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi-check2-circle {
  font-size: 66px;
  color: #04bc7c;
}
.success-msg {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.success-msg > p {
  text-align: center;
}
.success-msg > p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
}
.success-msg > p:nth-child(2) {
  font-size: 14px;
  opacity: 0.7;
}
.popUp-btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.back-btn,
.continue-btn {
  padding: 7px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.continue-btn {
  color: #fff;
  background-color: #00bd7d;
}

/* Error messages style */
.email-error,
.pass-error,
.num-error,
.fname-error,
.lname-error {
  font-size: 10px;
  color: red;
}

@media (min-width: 481px) and (max-width: 840px){
  .signUp-form {
    width:80%;
    padding: 40px 40px;
}
}
 @media (min-width: 421px) and (max-width:440px){
    .signUp-form {
    width:95%;
    padding: 40px 40px;
}
 }
 @media(min-width:320px){
      .signUp-form {
    width:95%;
    padding: 40px 40px;
}
.account-heading > h2 {
    font-size: 24px;
    margin-bottom: 6px;
}
.account-heading > p {
    font-size: 10px;
    text-align: center;
    opacity: 0.7;
}
.input-box > input {
    width: 100%;
    padding: 10px 8px;
    outline: none;
    font-size: 13px;
}
.input-box > div > label {
    font-size: 15px;
    margin-bottom: 5px;
}
#signup_btn {
    margin-bottom: 10px;
    width: 97%;
    padding: 10px;
    font-size: 13px;
}
#term_condition {
    font-size: 12px;
    padding-left: 10px;
}
.btn-container > div > input {
    padding: 5px 12px;
    background-color: black;
}
 }
  @media (max-width: 420px){
         .signUp-form {
    width:95%;
    padding: 40px 40px;
}
.account-heading > h2 {
    font-size: 24px;
    margin-bottom: 6px;
}
.account-heading > p {
    font-size: 10px;
    text-align: center;
    opacity: 0.7;
}
.input-box > input {
    width: 100%;
    padding: 10px 8px;
    outline: none;
    font-size: 13px;
}
.input-box > div > label {
    font-size: 15px;
    margin-bottom: 5px;
}
#signup_btn {
    margin-bottom: 10px;
    width: 97%;
    padding: 10px;
    font-size: 13px;
}
#term_condition {
    font-size: 12px;
    padding-left: 10px;
}
.btn-container > div > input {
    padding: 5px 12px;
    background-color: black;
}
  }
   @media (min-width:321px) and (max-width:380px){
         .signUp-form {
    width:95%;
    padding: 40px 40px;
}
.account-heading > h2 {
    font-size: 24px;
    margin-bottom: 6px;
}
.account-heading > p {
    font-size: 10px;
    text-align: center;
    opacity: 0.7;
}
.input-box > input {
    width: 100%;
    padding: 10px 8px;
    outline: none;
    font-size: 13px;
}
.input-box > div > label {
    font-size: 15px;
    margin-bottom: 5px;
}
#signup_btn {
    margin-bottom: 10px;
    width: 97%;
    padding: 10px;
    font-size: 13px;
}
#term_condition {
    font-size: 12px;
    padding-left: 10px;
}
.btn-container > div > input {
    padding: 5px 12px;
    background-color: black;
}
   }