@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* scrool button start */
.scroll-btn {
  position: fixed;
  top: 80%;
  left: 95%;
  padding: 13px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa-arrow-up {
  font-size: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  /* opacity: 0; */
  z-index: 9999;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
/* .scroll_btn > p {
  display: none;
} */
.showScrollBtn {
  opacity: 1;
  pointer-events: auto;
  transition: background-color 0.4s ease;
}
/* .showScrollBtn:hover {
  background-color: #ffcc25;
} */
/* scroll button end */

/* main start */

main {
  width: 100%;
}

/* full img start */
.full-img {
  position: relative;
  width: 100%;
}
.full-img > img {
  width: 100%;
  z-index: -1;
  cursor: pointer;
}
.full-img > .img_btns_container {
  position: absolute;
  right: 40px;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  z-index: 8;
}
.full-img > .img_btns_container > a {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  margin-bottom: 5px;
}
.full-img > .img_btns_container > button {
  width: 270px;
  padding: 10px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 550;
  border: none;
  cursor: pointer;
}
.img-btn {
  position: absolute;
  bottom: 40px;
  left: 40px;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #fff;
}
.fa-tag {
  transform: rotate(90deg);
  font-size: 18px;
}
.img-btn > button {
  background-color: transparent;
  border: none;
  font-size: 17px;
  font-weight: 500;
}
.img-monterey {
  position: absolute;
  right: 230px;
  bottom: 60px;
}
.img-monterey > h3 {
  color: #fff;
  font-weight: 550;
  margin-bottom: 5px;
}
.img-monterey > p {
  width: 220px;
  padding-left: 5px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.img-monterey > p > a {
  color: #fff;
}
/* full img end */

/* new arrival start */
.new-arrivals-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
  position: relative;
}
.arrivals-head {
  width: 100%;
  height: 100px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrivals-head::before {
  content: "";
  width: 100px;
}

.arrivals-head > p {
  text-align: center;
  flex: 1;
  font-size: 36px;
  font-weight: 550;
}
.arrivals-head > button {
  position: relative;
  overflow: hidden;
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}

.arrivals-head > button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.arrivals-head > button:hover {
  color: white;
}

.arrivals-head > button:hover::before {
  animation: fillLeftRight 0.5s forwards ease-in-out;
}

@keyframes fillLeftRight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.arrival-arrow,
.hero-arrow {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.arrival-arrow > .fa-angle-left,
.hero-arrow > .fa-angle-left,
.arrival-arrow > .fa-angle-right,
.hero-arrow > .fa-angle-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 550;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.arrivals-imgs-container {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow: hidden;
  transition: all 0.6s ease;
}
.arrival-items {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.arrival-items > img {
  width: 430px;
  transition: all 0.3s ease;
}
.arrival-items > img:hover {
  transform: scale(1.02);
}
.arrival-items > h3 {
  font-weight: 550;
  font-size: 18px;
}
.arrival-items > p {
  font-size: 18px;
}
/* new arrival end */

/* img video start */
.img-video {
  width: 100%;
  position: relative;
}
.video {
  z-index: 1;
  cursor: pointer;
}
.videos-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.videos-btn > h1 {
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}
.videos-btn > button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
}
.video-play {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
}
.video-play > div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.fa-play {
  font-size: 18px;
  display: none;
}
.fa-pause {
  font-size: 18px;
}
/* img video end */

/* smeg-mocha start */
.smeg-mocha {
  width: 100%;
  padding: 35px;
  position: relative;
}
.smeg-mocha > img {
  width: 100%;
}
.smeg-mocha-heading {
  position: absolute;
  top: 70px;
  left: 95px;
  line-height: 1;
  color: white;
}
.smeg-mocha-heading > h1 {
  font-size: 38px;
  font-weight: 600;
}
.smeg-mocha-heading > button {
  margin-top: 20px;
  padding: 10px 35px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.smeg-mocha-heading > button:hover {
  color: black;
  background-color: #fff;
}
.new-exclusive {
  width: 190px;
  position: absolute;
  left: 50%;
  top: 150px;
  text-align: center;
  transform: translateY(-50%);
  color: white;
}
.new-exclusive > h3 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
}
.new-exclusive > p {
  font-size: 17px;
}
/* smeg-mocha end */

/* hero-card part start */
.hero-card-container {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-card-head {
  font-size: 25px;
  font-weight: 450;
  color: #202020;
  text-align: center;
  margin-bottom: 20px;
}
.hero-card-content {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
.heroCard-items {
  width: 100%;
}
.heroCard-items > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.heroCard-items > div > img {
  width: 400px;
}
/* hero-card part start */

/* get together start */
.get-together {
  width: 100%;
  position: relative;
  padding-bottom: 30px;
}
.get-together > a > img {
  width: 100%;
}
.together-up-content {
  position: absolute;
  top: 60px;
  left: 24%;
  cursor: pointer;
}
.together-up-content > h1 {
  font-size: 34px;
  padding-left: 20px;
}
.together-up-content > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.together-up-content > div > button {
  margin-top: 10px;
  background-color: transparent;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 50px;
  font-weight: 550;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.5s ease;
}
.together-up-content > div > button:hover {
  background-color: black;
  color: white;
}
.together-bottom-content {
  position: absolute;
  bottom: 100px;
  right: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.together-bottom-content > a > img {
  height: 40px;
}
.together-bottom-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.together-bottom-content > div p:nth-child(1) {
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 5px;
}
.together-bottom-content > div p:nth-child(2) {
  width: 250px;
  font-size: 18px;
  text-align: center;
}
/* get together end */

/* hosting section start */
.hosting-container {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hosting-arrow {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.hosting-arrow > .fa-angle-left,
.hosting-arrow > .fa-angle-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 550;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.hosting-heading > p {
  font-size: 40px;
  font-weight: 550;
}
.hosting-content {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
/* hosting section end */

/* caraway section start */
.caraway-container {
  position: relative;
  width: 100%;
}
.caraway-container > a > img {
  width: 100%;
}
.caraway-container > div:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}
.caraway-container > div > p {
  font-weight: 550;
}
.caraway-container > div:nth-child(3) {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  cursor: pointer;
}
.caraway-container > div:nth-child(3) > p {
  font-size: 36px;
  line-height: 1.2;
  text-align: right;
}
.caraway-container > div:nth-child(3) > button {
  padding: 7px 25px;
  font-size: 20px;
  font-weight: 550;
  border-radius: 20px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
}
.caraway-container > div:nth-child(3) > button:hover {
  color: white;
  background-color: black;
}
.caraway-container > div:nth-child(4) {
  position: absolute;
  bottom: 9%;
  left: 12%;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caraway-container > div:nth-child(4) > p:nth-child(1) {
  font-weight: 600;
  font-size: 19px;
}
.caraway-container > div:nth-child(4) > p:nth-child(2) {
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  color: #242420;
  opacity: 0.8;
}
/* caraway section end */

/* KitchenAid & Breville section start */
.kitchenAid-breville {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.kitchenAid-breville > div > img {
  width: 100%;
}
.kitchenAid-breville > div:nth-child(1),
.kitchenAid-breville > div:nth-child(2) {
  position: relative;
}
.kitchenAid-breville > div:nth-child(1) > div,
.kitchenAid-breville > div:nth-child(2) > div {
  position: absolute;
  top: 20px;
  left: 40px;
  color: white;
}
.kitchenAid-breville > div:nth-child(1) > div > h1,
.kitchenAid-breville > div:nth-child(2) > div > h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.kitchenAid-breville > div:nth-child(1) > div > button,
.kitchenAid-breville > div:nth-child(2) > div > button {
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 550;
  border-radius: 30px;
}
.kitchenAid-breville > div:nth-child(2) > div:nth-child(3) {
  position: absolute;
  top: 55%;
  left: 20px;
  width: 150px;
  text-align: right;
  font-size: 17px;
}
/* KitchenAid & Breville section end */

/* fall video section start */
.fall-video {
  position: relative;
}
/* fall video section end */

/* autumn decorate seciton start */
.autumn-decorate {
  position: relative;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.autumn-arrow {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.autumn-arrow > .fa-angle-left,
.autumn-arrow > .fa-angle-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 550;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.autumn-heading > p {
  font-size: 40px;
  font-weight: 550;
}
.autumn-content {
  width: 100%;
  margin-top: 15px;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
.autumn-content > div {
  width: 100%;
}
.autumn-content > div > img {
  width: 435px;
}
/* autumn decorate seciton end */

/* bedroom furniture section start */
.bedroom-furniture-section {
  width: 100%;
  padding: 10px 35px;
  margin-bottom: 25px;
  position: relative;
}
.bedroom-furniture-section > a > img {
  width: 100%;
}
.bedroom-heading {
  position: absolute;
  top: 40px;
  left: 39%;
  color: white;
  cursor: pointer;
}
.bedroom-heading > h1 {
  font-size: 42px;
  line-height: 1;
  margin-bottom: 15px;
}
.bedroom-heading > button {
  padding: 10px 30px;
  font-size: 19px;
  font-weight: 550;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
/* bedroom furniture section end */

/* All bedding section start */
.all-bedding {
  width: 100%;
  position: relative;
}
.all-bedding > a > img {
  width: 100%;
}
.all-bedding > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.all-bedding > div > h1 {
  text-align: center;
  line-height: 1;
  font-size: 38px;
}
.all-bedding > div > button {
  padding: 10px 30px;
  font-size: 19px;
  font-weight: 550;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
/* All bedding section end */

/* kitchen & cookware section start */
.kitchen-cookware {
  width: 100%;
  padding: 30px 35px;
  position: relative;
}
.kitchen-cookware > a > img {
  width: 100%;
}
.kitchen-cookware > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.kitchen-cookware > div > h1 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 20px;
}
.kitchen-cookware > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.kitchen-cookware > div > div > button {
  width: 90%;
  padding: 12px 0;
  color: white;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: black;
}
/* kitchen & cookware section end */

/* fall baking section start */
.fall-baking {
  width: 100%;
  position: relative;
}
.fall-baking > a > img {
  width: 100%;
}
.fall-baking > div {
  position: absolute;
  top: 30px;
  left: 70px;
  cursor: pointer;
}
.fall-baking > div > h1 {
  font-size: 38px;
  margin-bottom: 10px;
}
.fall-baking > div > button {
  padding: 8px 30px;
  font-size: 19px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease;
}
.fall-baking > div > button:hover {
  color: white;
  background-color: black;
}
/* fall baking section end */

/* tool & recipe section start */
.tool-recipe {
  width: 100%;
  padding: 35px 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tool-recipe-left {
  width: 100%;
  position: relative;
}
.tool-recipe-left > div {
  position: absolute;
  left: 43%;
  top: 10%;
  transform: translateX(-43%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.tool-recipe-left > div > h1 {
  font-size: 36px;
  font-weight: 600;
}
.tool-recipe-left > div > button {
  padding: 10px 25px;
  font-size: 19px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid black;
  background-color: transparent;
  transition: all 0.4s ease;
}
.tool-recipe-left > div > button:hover {
  color: white;
  background-color: black;
}
.tool-recipe-left > a > img {
  width: 100%;
}
.tool-recipe-right {
  width: 100%;
  position: relative;
}
.tool-recipe-right > a > video {
  width: 100%;
}
/* tool & recipe section end */

/* rugs video section start */
.rugs-video {
  width: 100%;
  position: relative;
}
.rugs-video > a > video {
  width: 100%;
}
.rugs-video > div:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rugs-video > div:nth-child(3) > h1 {
  font-size: 38px;
}
.rugs-video > div:nth-child(3) > button {
  font-size: 19px;
  font-weight: 550;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
}
/* rugs video section end */

/* appointment section start */
.appointment-section {
  width: 100%;
  padding: 40px 35px;
  position: relative;
}
.appointment-section > a > img {
  width: 100%;
}
.appointment-section > div {
  position: absolute;
  top: 12%;
  left: 24%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.appointment-section > div > h1 {
  font-size: 42px;
  line-height: 1;
  font-weight: 550;
}
.appointment-section > div > span:nth-child(2) {
  width: 60px;
  height: 2px;
  margin: 25px 0 15px 0;
  border: 2px solid white;
}
.appointment-section > div > h1:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.appointment-section > div > h1:nth-child(3) > span {
  width: 30px;
  height: 2px;
  border: 3px solid white;
}
.appointment-section > div > button {
  padding: 10px 30px;
  margin-top: 15px;
  font-size: 19px;
  border: none;
  border-radius: 30px;
  font-weight: 550;
  cursor: pointer;
}
/* appointment section end */

/* christmas section start */
.christmas-section {
  width: 100%;
  position: relative;
}
.christmas-section > a > img {
  width: 100%;
}
.christmas-section > div {
  position: absolute;
  right: 30px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
  cursor: pointer;
}
.christmas-section > div > h1 {
  font-size: 38px;
  text-align: right;
  line-height: 1.2;
}
.christmas-section > div > button {
  padding: 10px 25px;
  font-size: 19px;
  font-weight: 550;
  color: white;
  border-radius: 30px;
  background-color: black;
  cursor: pointer;
}
/* christmas section end */

/* holiday section start */
.holiday-section {
  width: 100%;
  padding: 40px 35px;
  position: relative;
}
.holiday-section > a > img {
  width: 100%;
}
.holiday-section > div {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.holiday-section > div > h1 {
  font-size: 38px;
}
.holiday-section > div > button {
  padding: 10px 25px;
  font-size: 19px;
  font-weight: 550;
  color: white;
  border-radius: 30px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}
/* holiday section end */

/* wedding registry section start */
.wedding-registry-section {
  width: 100%;
  position: relative;
}
.wedding-registry-section > a > img {
  width: 100%;
}
.wedding-registry-section > div {
  position: absolute;
  top: 13%;
  left: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wedding-registry-section > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.wedding-registry-section > div > div:nth-child(1) > h1 {
  font-size: 8.5rem;
}
.wedding-registry-section > div > div:nth-child(1) > h3 {
  text-align: center;
  line-height: 1;
  font-size: 24px;
  font-weight: 550;
}
.wedding-registry-section > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wedding-registry-section > div > div:nth-child(2) > h2 {
  font-size: 40px;
  text-align: center;
  line-height: 1.2;
  font-weight: 550;
}
.wedding-registry-section > div > div:nth-child(2) > button {
  padding: 10px 25px;
  margin-top: 20px;
  font-size: 19px;
  font-weight: 550;
  border: none;
  border-radius: 30px;
  background-color: #fff;
}
/* weddin registry seciton end */

/* shopping ways section start */
.shopping-ways {
  position: relative;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.shopping-ways-heading {
  text-align: center;
}
.shopping-ways-heading > h1 {
  font-size: 36px;
  font-weight: 550;
}
.shopping-arrow {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
}
.shopping-arrow > .fa-angle-left,
.shopping-arrow > .fa-angle-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-size: 36px;
  font-weight: 550;
  z-index: 999;
  cursor: pointer;
  border: none;
  background-color: #fff;
}
.shopping-ways-card-container {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow: hidden;
}
.shopping-card-mainDiv {
  width: 100%;
  cursor: pointer;
}
.shopping-card-mainDiv > img {
  width: 435px;
}
/* shopping ways section end */

/* main end */

/* Hamburger start */
.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 1px dashed black;
  display: none;
}
.hamburger > span {
  width: 25px;
  border: 1px solid black;
}
/* hamburger end */

.mobile-header {
  display: none !important;
}

/* <================= Responsive Start ================> */
@media (max-width: 320px){
 
  .img-monterey > p > a ,.arrivals-head > button ,.img-btn > button,.img-btn ,.arrivals-head > p ,.together-up-content > div > button ,.img-monterey > h3,
.new-exclusive > p ,.new-exclusive > h3{
    display: none;
  }
  .kitchenAid-breville > div:nth-child(1) > div > button, .kitchenAid-breville > div:nth-child(2) > div > button{
    display: none;
  }
  .full-img > .img_btns_container > a {
    color: #ffffff;
    font-size: 0px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
    margin-bottom: 5px;
}
.full-img > img{
  height: 300px;
}
.smeg-mocha > img {
    object-fit:fill;
    height: 262px;
}
.smeg-mocha-heading {
    position: absolute;
    top: 100px;
    left: 98px;
    line-height: 1.5;
}
    .smeg-mocha-heading > h1 {
        font-size: 15px !important;
    }
.get-together > a > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.together-bottom-content {
    bottom: 187px;
    right: 24px;
}
.full-img > .img_btns_container > button {
    width:165px;
    padding: 10px;
    font-size: 10px;
}
    .full-img > .img_btns_container {
        right: 70px;
        top: 15px !important;
        gap:6px !important;
    }
    .caraway-container > div:nth-child(3) > button {
    padding: 7px 25px;
    font-size: 15px;
}

    .caraway-container > a > img {
    width: 100%;
    height: 263px;
    object-fit:cover;
}
.arrivals-head {
    width: 100%;
    height:20px;
    padding-right: 30px;
}
.arrival-arrow > .fa-angle-left, .hero-arrow > .fa-angle-left, .arrival-arrow > .fa-angle-right, .hero-arrow > .fa-angle-right,.together-up-content > h1,.caraway-container > div:nth-child(4) > p:nth-child(1),.caraway-container > div:nth-child(3) > p,.caraway-container > div:nth-child(2),.autumn-arrow > .fa-angle-left, .autumn-arrow > .fa-angle-right,.kitchen-cookware > div > h1 ,.appointment-section > div > button,.wedding-registry-section > div > div:nth-child(2) > button,.shopping-arrow > .fa-angle-left, .shopping-arrow > .fa-angle-right{
    display: none;
}
.arrival-items > img {
    width: 180px;
    transition: all 0.3s ease;
}
.heroCard-items > div > img{
   width: 180px;
}
.arrival-items > p {
    font-size: 14px;
}
.arrival-items > h3 {
    font-weight: 550;
    font-size: 14px;
}

.videos-btn > button {
        padding: 8px 30px;
        font-size: 13px !important
        ;
    }
.smeg-mocha-heading > h1 {
    font-size: 12px;
    font-weight: 600;
}
.smeg-mocha-heading > button {
    margin-top: 13px;
    padding: 6px 25px;
    font-size: 12px;
}
h1{
  font-size:20px;
}
.hero-card-head {
    font-size: 13px !important;
}
.smeg-mocha {
    padding: 30px;
}
.together-bottom-content > div p:nth-child(2) {
    width: 250px;
    font-size: 13px;
}
.hosting-heading > p {
    font-size: 19px;
    text-align: center;
}
.get-together {
    padding-bottom:30px;
}
    .kitchenAid-breville {
        width: 100%;
        display: grid;
        padding: 12px 30px;
        margin: 60px 0px;
        gap: 20px;
    }
.kitchenAid-breville > div:nth-child(1) > div > h1, .kitchenAid-breville > div:nth-child(2) > div > h1 {
    font-size:20px !important;
    line-height: 1.2;
    margin-bottom:0px;
}
    .bedroom-heading > button {
        padding: 12px 12px;
        font-size: 11px;
    }

.bedroom-heading > h1 {
        font-size: 20px !important;
        line-height: 1;
        margin-bottom: 15px;
    }

.bedroom-heading {
    top: 32px;
    left:25%;
}
.bedroom-furniture-section > a > img {
    width: 100%;
    height: 320px;
    object-fit: fill;
}
.bedroom-furniture-section {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 25px;
    position: relative;
}
.kitchenAid-breville > div:nth-child(2) > div:nth-child(3) {
   display: none;
}
.autumn-heading > p {
    font-size: 20px;
    font-weight: 550;
}
.autumn-content > div > img {
    width:150px;
}
.bedroom-heading > h1 {
    font-size: 10px;
    line-height: 1;
    margin-bottom: 15px;
}

.bedroom-heading > button {
    padding: 13px 19px !important;
    font-size: 10px;
}
.all-bedding > div > h1 {
    font-size: 15px;
}
.all-bedding > div > button {
        padding: 13px 30px;
        font-size: 11px;
    }

    .all-bedding > a > img {
    width: 100%;
    height: 350px;
}
.all-bedding > div {
    position: absolute;
    left: 50%;
    top: 21%;
    gap: 10px;
}
.kitchen-cookware > div > div > button {
    width: 92%;
    padding: 14px 14px;
    font-size: 8px;
    font-weight: 500;
}
.kitchen-cookware > a > img {
    width: 100%;
    height: 350px;
    object-fit: fill;
}
.kitchen-cookware {
    width: 100%;
    padding: 30px 18px;

}
.fall-baking > a > img {
    width: 100%;
    height: 331px;
}
.fall-baking > div > h1 {
    font-size: 22px;
    margin-bottom: 10px;
}
    .fall-baking > div {
        top: 30px;
        left: 33px !important;
}
.fall-baking > div > button {
    font-size: 14px;
}
.tool-recipe {
    width: 100%;
    padding: 35px 7px;
}
.appointment-section {
    width: 100%;
    padding: 40px 15px;
}
.appointment-section > a > img {
    width: 100%;
    height: 350px;
}
    .appointment-section > div {
        top: 14%;
        font-size: 16px;
        left: 20%;
    }
    .christmas-section > a > img {
    width: 100%;
    height: 350px;


    }


.rugs-video > div:nth-child(3) > h1 {
    font-size: 14px;
}
.rugs-video > div:nth-child(3) > button {
    padding: 13px 8px !important;
    margin-top: 19px;
    font-size: 9px  !important;
}
.appointment-section > div {
    position: absolute;
    top:19%;
    left:20%;
}
.appointment-section > div > h1 {
    font-size: 13px;
    margin:6px 0px;
}

.christmas-section > div > h1 {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
}
.christmas-section > div > button {
            padding: 10px 29px;
        font-size:9px;
}

.christmas-section > div {
    right:80px !important;
    top: 30px;
}
.holiday-section > div > h1 {
    font-size: 20px;
}
.holiday-section > a > img {
    width: 100%;
    height: 244px;
    object-fit:fill;
}
.holiday-section {
    width: 100%;
    padding: 20px 15px;
}
.holiday-section > div {
        position: absolute;
        top: 52%;
        left: 19px;
    }
.wedding-registry-section > a > img {
    height: 300px;
    object-fit: cover;
}

.holiday-section > div > button {
    padding: 7px 14px;
    font-size: 15px;
    font-weight: 550;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    gap: 0px !important;
}
.wedding-registry-section > div > div:nth-child(1) > h1
 {
    font-size:10px;
}
.wedding-registry-section > div > div:nth-child(2) > h2 {
    font-size: 18px;
}
.wedding-registry-section > div {
    top: 6%;
    left: 25%;
   
}
.shopping-ways-heading > h1 {
    font-size: 23px;
}
.shopping-ways {
    padding: 4px 0;

}
.tool-recipe-left > div > button {
    padding:0px 35px;
    font-size: 9px;

}
.tool-recipe-left > div > h1 {
    font-size: 12px;
    font-weight: 600;
}
.shopping-card-mainDiv > img {
    width: 241px;
}
.shopping-ways-card-container {

    justify-content: center;
}
element.style {
    font-size: 12px !important;
}
    .caraway-container > div:nth-child(4) {
        position: absolute;
        bottom: 40%;
        left: 8%;
    }
.caraway-container > div:nth-child(3) {
        right:97px !important;
    }
}

@media (min-width:321px) and (max-width:380px){
    .img-monterey > p > a ,.arrivals-head > button ,.img-btn > button,.img-btn ,.arrivals-head > p ,.together-up-content > div > button ,.img-monterey > h3,
.new-exclusive > p ,.new-exclusive > h3{
    display: none !important;
  }
 .kitchenAid-breville > div:nth-child(1) > div > button, .kitchenAid-breville > div:nth-child(2) > div > button{
    display: none !important;
  }
  .full-img > .img_btns_container > a {
    color: #ffffff;
    font-size: 0px !important;
    font-weight: bold !important;
    text-align: right !important;
    line-height: 1 !important;
    margin-bottom: 5px !important;
}

.full-img > .img_btns_container > button {
    width:165px !important;
    padding: 10px !important;
    font-size: 10px !important;
}
.full-img > .img_btns_container {
     right:80px !important;
    top: 35px !important;
    gap: 10px !important;
}
.arrivals-head {
    width: 100% !important;
    height:20px !important;
    padding-right: 30px !important;
}
.arrival-arrow > .fa-angle-left, .hero-arrow > .fa-angle-left, .arrival-arrow > .fa-angle-right, .hero-arrow > .fa-angle-right,.together-up-content > h1,.caraway-container > div:nth-child(4) > p:nth-child(1),.caraway-container > div:nth-child(3) > p,.caraway-container > div:nth-child(2),.autumn-arrow > .fa-angle-left, .autumn-arrow > .fa-angle-right,.kitchen-cookware > div > h1 ,.appointment-section > div > button,.wedding-registry-section > div > div:nth-child(2) > button,.shopping-arrow > .fa-angle-left, .shopping-arrow > .fa-angle-right{
    display: none !important;
}
.arrival-items > img {
    width: 180px !important;
    transition: all 0.3s ease !important;
}
.heroCard-items > div > img{
   width: 180px !important;
}
.arrival-items > p {
    font-size: 14px !important;
}
.arrival-items > h3 {
    font-weight: 550 !important;
    font-size: 14px !important;
}
.videos-btn > h1 {
    font-size: 13px !important;
}
.videos-btn > button {
    padding: 8px 30px !important;
    font-size: 16px !important;
}
.smeg-mocha-heading > h1 {
    font-size: 12px !important;
    font-weight: 600 !important;
}
.smeg-mocha-heading > button {
    margin-top: 13px !important;
    padding: 6px 25px !important;
    font-size: 12px !important;
}
.hero-card-head {
    font-size: 13px !important;
}
.smeg-mocha {
    padding: 30px !important;
}
.together-bottom-content > div p:nth-child(2) {
    width: 250px !important;
    font-size: 13px !important;
}
.hosting-heading > p {
    font-size: 19px !important;
    text-align: center !important;
}
.get-together {
    padding-bottom:30px !important;
}
.kitchenAid-breville {
    width: 100% !important;
    padding: 12px 30px !important;
    gap: 20px !important;
}
.kitchenAid-breville > div:nth-child(1) > div > h1, .kitchenAid-breville > div:nth-child(2) > div > h1 {
    font-size: 10px !important;
    line-height: 1.2 !important;
    margin-bottom:0px !important;
}

.kitchenAid-breville > div:nth-child(2) > div:nth-child(3) {
    left: 20px !important;
    width: 60px !important;
    font-size: 10px !important;
}
.autumn-heading > p {
    font-size: 20px !important;
    font-weight: 550 !important;
}
.autumn-content > div > img {
    width:150px !important;
}
.bedroom-heading > h1 {
    font-size: 10px !important;
    line-height: 1 !important;
    margin-bottom: 15px !important;
}

.bedroom-heading > button {
    padding: 14px 4px !important;
    font-size: 10px !important;
}
.all-bedding > div > h1 {
    font-size: 15px !important;
}
.all-bedding > div > button {
    padding: 14px 18px !important;
    font-size: 11px !important;
}
.kitchen-cookware > div > div > button {
    width: 92% !important;
    padding: 14px 14px !important;
    font-size: 8px !important;
    font-weight: 500 !important;
  
}
.fall-baking > div > h1 {
    font-size: 22px !important;
    margin-bottom: 10px !important;
}
.fall-baking > div {
    position: absolute !important;
    top: 30px !important;
    left: 32px !important;
}
.rugs-video > div:nth-child(3) > h1 {
    font-size: 14px !important;
}
.rugs-video > div:nth-child(3) > button {
    padding: 13px 8px !important;
    margin-top: 19px !important;
    font-size: 9px  !important;
}
.appointment-section > div {
    position: absolute !important;
    top:19% !important;
    left:20% !important;
}
.appointment-section > div > h1 {
    font-size: 13px !important;
    margin:6px 0px !important;
}

.christmas-section > div > h1 {
    font-size: 20px!important;
    text-align: center !important;
    line-height: 1.2;
}
.christmas-section > div > button {
    padding: 10px 23px !important;
  font-size: 14px !important;
}

.christmas-section > div {
    right: 70px !important;
    top: 30px !important;
    display: flex !important;
    justify-content: center !important;
}
.holiday-section > div > h1 {
    font-size: 20px !important;
}

.holiday-section > div > button {
    padding: 7px 14px !important;
    font-size: 15px !important;
    background-color: transparent !important;
    cursor: pointer !important;
    gap: 0px !important;
}
.wedding-registry-section > div > div:nth-child(1) > h1
 {
    font-size:10px !important;
}
.wedding-registry-section > div > div:nth-child(2) > h2 {
    font-size: 18px !important;
}
.wedding-registry-section > div {
    top: 6% !important;
    left: 25% !important;
   
}
.shopping-ways-heading > h1 {
    font-size: 23px !important;
}
.shopping-ways {
    padding: 4px 0 !important;

}
.tool-recipe-left > div > button {
    padding:0px 35px !important;
    font-size: 9px !important;

}
.tool-recipe-left > div > h1 {
    font-size: 12px !important;
    font-weight: 600 !important;
}
.shopping-card-mainDiv > img {
    width: 241px !important;
}
.shopping-ways-card-container {

    justify-content: center !important;
}
element.style {
    font-size: 12px !important;
}
    
}

@media (max-width: 420px){
  .img-monterey > p > a ,.arrivals-head > button ,.img-btn > button,.img-btn ,.arrivals-head > p ,.together-up-content > div > button ,.img-monterey > h3,
.new-exclusive > p ,.new-exclusive > h3{
    display: none;
  }
 .kitchenAid-breville > div:nth-child(1) > div > button, .kitchenAid-breville > div:nth-child(2) > div > button{
    display: none;
  }
  .full-img > .img_btns_container > a {
    color: #ffffff;
    font-size: 0px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
    margin-bottom: 5px;
}

.full-img > .img_btns_container > button {
    width:165px;
    padding: 10px;
    font-size: 10px;
}
.full-img > .img_btns_container {
     right:80px;
    top: 35px;
    gap: 10px;
}
.arrivals-head {
    width: 100%;
    height:20px;
    padding-right: 30px;
}
.arrival-arrow > .fa-angle-left, .hero-arrow > .fa-angle-left, .arrival-arrow > .fa-angle-right, .hero-arrow > .fa-angle-right,.together-up-content > h1,.caraway-container > div:nth-child(4) > p:nth-child(1),.caraway-container > div:nth-child(3) > p,.caraway-container > div:nth-child(2),.autumn-arrow > .fa-angle-left, .autumn-arrow > .fa-angle-right,.kitchen-cookware > div > h1 ,.appointment-section > div > button,.wedding-registry-section > div > div:nth-child(2) > button,.shopping-arrow > .fa-angle-left, .shopping-arrow > .fa-angle-right{
    display: none;
}
.arrival-items > img {
    width: 180px;
    transition: all 0.3s ease;
}
.heroCard-items > div > img{
   width: 180px;
}
.arrival-items > p {
    font-size: 14px;
}
.arrival-items > h3 {
    font-weight: 550;
    font-size: 14px;
}
.videos-btn > h1 {
    font-size: 13px;
}
.videos-btn > button {
    padding: 8px 30px;
    font-size: 16px;
}
.smeg-mocha-heading > h1 {
    font-size: 12px;
    font-weight: 600;
}
.smeg-mocha-heading > button {
    margin-top: 13px;
    padding: 6px 25px;
    font-size: 12px;
}
.hero-card-head {
    font-size: 13px !important;
}
.smeg-mocha {
    padding: 30px;
}
.together-bottom-content > div p:nth-child(2) {
    width: 250px;
    font-size: 13px;
}
.hosting-heading > p {
    font-size: 19px;
    text-align: center;
}
.get-together {
    padding-bottom:30px;
}
.kitchenAid-breville {
    width: 100%;
    padding: 12px 30px;
    gap: 20px;
}
.kitchenAid-breville > div:nth-child(1) > div > h1, .kitchenAid-breville > div:nth-child(2) > div > h1 {
    font-size: 10px;
    line-height: 1.2;
    margin-bottom:0px;
}

.kitchenAid-breville > div:nth-child(2) > div:nth-child(3) {
    left: 20px;
    width: 60px;
    font-size: 10px;
}
.autumn-heading > p {
    font-size: 20px;
    font-weight: 550;
}
.autumn-content > div > img {
    width:150px;
}
.bedroom-heading > h1 {
    font-size: 10px;
    line-height: 1;
    margin-bottom: 15px;
}

.bedroom-heading > button {
    padding: 14px 4px;
    font-size: 10px;
}
.all-bedding > div > h1 {
    font-size: 15px;
}
.all-bedding > div > button {
    padding: 14px 18px;
    font-size: 11px;
}
.kitchen-cookware > div > div > button {
    width: 92%;
    padding: 14px 14px;
    font-size: 8px;
    font-weight: 500;
  
}
.fall-baking > div > h1 {
    font-size: 22px;
    margin-bottom: 10px;
}
.fall-baking > div {
    position: absolute;
    top: 30px;
    left:70px;
}
.rugs-video > div:nth-child(3) > h1 {
    font-size: 14px;
}
.rugs-video > div:nth-child(3) > button {
    padding: 13px 8px !important;
    margin-top: 19px;
    font-size: 9px  !important;
}
.appointment-section > div {
    position: absolute;
    top:19%;
    left:20%;
}
.appointment-section > div > h1 {
    font-size: 13px;
    margin:6px 0px;
}

.christmas-section > div > h1 {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
}
.christmas-section > div > button {
    padding: 10px 23px;
    font-size: 14px;
}

.christmas-section > div {
        right: 106px;
        top: 37px;
        display: flex;
        justify-content: center;
    }
.holiday-section > div > h1 {
    font-size: 18px;
}

.holiday-section > div {
    position: absolute;
    top: 48%;
    left:10px;
    align-items: center !important;
    gap:8px;
}
.holiday-section > div > button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 550;
    color: white;
    border-radius: 30px;
    gap: 0px !important;
}
.wedding-registry-section > div > div:nth-child(1) > h1
 {
    font-size:10px;
}
.wedding-registry-section > div > div:nth-child(2) > h2 {
    font-size: 18px;
}
.wedding-registry-section > div {
    top: 6%;
    left: 25%;
   
}
.shopping-ways-heading > h1 {
    font-size: 23px;
}
.shopping-ways {
    padding: 4px 0;

}
.tool-recipe-left > div > button {
    padding:0px 35px;
    font-size: 9px;

}
.tool-recipe-left > div > h1 {
    font-size: 12px;
    font-weight: 600;
}
.shopping-card-mainDiv > img {
    width: 241px;
}
.shopping-ways-card-container {

    justify-content: center;
}
element.style {
    font-size: 17px;
}


.rugs-video > div:nth-child(3) {
    top: 45%;
    left: 50%;
    gap:0px;
}

  .caraway-container > div:nth-child(3) {
    top: 35px;
    right: 120px;
    gap:0px;
}
}

 @media (min-width: 421px) and (max-width: 440px){
    .img-monterey > p > a ,.arrivals-head > button ,.img-btn > button,.img-btn ,.arrivals-head > p ,.together-up-content > div > button ,.img-monterey > h3,
.new-exclusive > p ,.new-exclusive > h3{
    display: none;
  }
 .kitchenAid-breville > div:nth-child(1) > div > button, .kitchenAid-breville > div:nth-child(2) > div > button{
    display: none;
  }
  .full-img > .img_btns_container > a {
    color: #ffffff;
    font-size: 0px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
    margin-bottom: 5px;
}

.full-img > .img_btns_container > button {
    width:165px;
    padding: 10px;
    font-size: 10px;
}
.full-img > .img_btns_container {
     right:139px;
    top: 35px;
    gap: 10px;
}
.arrivals-head {
    width: 100%;
    height:20px;
    padding-right: 30px;
}
.arrival-arrow > .fa-angle-left, .hero-arrow > .fa-angle-left, .arrival-arrow > .fa-angle-right, .hero-arrow > .fa-angle-right,.together-up-content > h1,.caraway-container > div:nth-child(4) > p:nth-child(1),.caraway-container > div:nth-child(3) > p,.caraway-container > div:nth-child(2),.autumn-arrow > .fa-angle-left, .autumn-arrow > .fa-angle-right,.kitchen-cookware > div > h1 ,.appointment-section > div > button,.wedding-registry-section > div > div:nth-child(2) > button,.shopping-arrow > .fa-angle-left, .shopping-arrow > .fa-angle-right{
    display: none;
}
.arrival-items > img {
    width: 180px;
    transition: all 0.3s ease;
}
.heroCard-items > div > img{
   width: 180px;
}
.arrival-items > p {
    font-size: 14px;
}
.arrival-items > h3 {
    font-weight: 550;
    font-size: 14px;
}
.videos-btn > h1 {
    font-size: 18px;
}
.videos-btn > button {
    padding: 8px 30px;
    font-size: 16px;
}
.smeg-mocha-heading > h1 {
    font-size: 12px;
    font-weight: 600;
}
.smeg-mocha-heading > button {
    margin-top: 13px;
    padding: 6px 25px;
    font-size: 12px;
}
.hero-card-head {
    font-size: 13px !important;
}
.smeg-mocha {
    padding: 30px;
}
.together-bottom-content > div p:nth-child(2) {
    width: 250px;
    font-size: 13px;
}
.hosting-heading > p {
    font-size: 19px;
    text-align: center;
}
.get-together {
    padding-bottom:30px;
}
.kitchenAid-breville {
    width: 100%;
    padding: 12px 30px;
    gap: 20px;
}
.kitchenAid-breville > div:nth-child(1) > div > h1, .kitchenAid-breville > div:nth-child(2) > div > h1 {
    font-size: 10px;
    line-height: 1.2;
    margin-bottom:0px;
}

.kitchenAid-breville > div:nth-child(2) > div:nth-child(3) {
    left: 20px;
    width: 60px;
    font-size: 10px;
}
.autumn-heading > p {
    font-size: 20px;
    font-weight: 550;
}
.autumn-content > div > img {
    width:150px;
}
.bedroom-heading > h1 {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 15px;
}

.bedroom-heading > button {
    padding: 14px 4px;
    font-size: 10px;
}
.all-bedding > div > h1 {
    font-size: 15px;
}
.all-bedding > div > button {
    padding: 14px 18px;
    font-size: 11px;
}
.kitchen-cookware > div > div > button {
    width: 92%;
    padding: 14px 14px;
    font-size: 8px;
    font-weight: 500;
  
}
.fall-baking > div > h1 {
    font-size: 22px;
    margin-bottom: 10px;
}
    .fall-baking > div {
        position: absolute;
        top: 74px;
        left: 101px;
    }

.rugs-video > div:nth-child(3) > h1 {
    font-size:22px;
}
.rugs-video > div:nth-child(3) > button {
    padding: 13px 8px !important;
    margin-top: 19px;
    font-size: 9px  !important;
}
.appointment-section > div {
        position: absolute;
        top: 19%;
        left: 28%;
    }
.appointment-section > div > h1 {
    font-size: 13px;
    margin:6px 0px;
}

.christmas-section > div > h1 {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
}
.christmas-section > div > button {
    padding: 10px 23px;
    font-size: 14px;
}

.christmas-section > div {
        right: 106px;
        top: 37px;
        display: flex;
        justify-content: center;
    }
.holiday-section > div > h1 {
    font-size: 18px;
}

.holiday-section > div {
    position: absolute;
    top: 48%;
    left:10px;
    align-items: center !important;
    gap:8px;
}
.holiday-section > div > button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 550;
    color: white;
    border-radius: 30px;
    gap: 0px !important;
}
.wedding-registry-section > div > div:nth-child(1) > h1
 {
    font-size:10px;
}
.wedding-registry-section > div > div:nth-child(2) > h2 {
    font-size: 18px;
}
.wedding-registry-section > div {
    top: 6%;
    left: 25%;
   
}
.shopping-ways-heading > h1 {
    font-size: 23px;
}
.shopping-ways {
    padding: 4px 0;

}
    .tool-recipe-left > div > button {
        padding: 0px 27px;
        font-size: 8px;
    }
.tool-recipe-left > div > h1 {
    font-size: 12px;
    font-weight: 600;
}
.shopping-card-mainDiv > img {
    width: 241px;
}
.shopping-ways-card-container {

    justify-content: center;
}
element.style {

    font-size: 17px;
}

.rugs-video > div:nth-child(3) {
    top: 45%;
    left: 50%;
    gap:0px;
}

  .caraway-container > div:nth-child(3) {
    top: 35px;
    right: 120px;
    gap:0px;
}
.bedroom-heading {
    position: absolute;
    top: 48px;
    left: 31%;
}
.together-bottom-content {
    bottom: 119px;
    right: 90px;
    color: white;
}
.caraway-container > div:nth-child(4) {
    bottom: 27%;
    left: 21%;
}
 }

 
    @media (min-width: 481px) and (max-width: 840px){
      .full-img > .img_btns_container > a {
    color: #ffffff;
    font-size: 36px;
    text-align: center !important;
    margin-bottom:10px;
}

.full-img > .img_btns_container {
    position: absolute;
    right: 215px;
    top: 67px;
    align-items:center;
    justify-content: center;
    gap:13px;
    z-index: 8;
}
.img-monterey > p > a ,.img-monterey > h3 {
  display: none;
}
.arrivals-head {
    padding-right: 115px;
}
.new-exclusive {
    left: 68%;
     top:200px;
}
.smeg-mocha-heading {
    top: 141px;
    left: 88px;
}
.together-up-content > h1 {
    font-size: 34px;
   padding: 0px !important;
}
.together-bottom-content {
    position: absolute;
    bottom: 100px;
    right: 253px;
}
.together-up-content > div {
    
    gap: 10px;
}

.caraway-container > div:nth-child(3) {
    top: 36px;
    right:30px;
    align-items: center;
    gap: 20px;
}
.caraway-container > div:nth-child(4) {
    bottom: 14%;
    left: 2%;
    justify-content: center;
    align-items: center;
}
.caraway-container > div:nth-child(2) {
    top: 55px;
    left: 40px;
    padding: 5px 15px;
    gap: 15px;
}
.kitchenAid-breville > div:nth-child(1) > div > h1, .kitchenAid-breville > div:nth-child(2) > div > h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 11px;
}
.kitchenAid-breville > div:nth-child(1) > div, .kitchenAid-breville > div:nth-child(2) > div {
    position: absolute;
    top: 76px;
    left: 40px;
    color: white;
}
.kitchenAid-breville > div:nth-child(2) > div:nth-child(3) {
  display: none !important;
}
.bedroom-heading {
    top: 90px;
    left: 26%;
}
.all-bedding > div {
    top: 40%;
}
.kitchen-cookware > div {
    top: 47%;

}
.fall-baking > div {
    top: 100px;
    left: 166px;
}
.rugs-video > div:nth-child(3) {
    top: 45%;
}
.appointment-section > div {
    top: 24%;
    left: 13%;
}
.christmas-section > div {
    right: 222px;
    top: 82px;
    justify-content: center;
    align-items: center;
}
.holiday-section > div {
    top: 48%;
    right: 17%;
}
.wedding-registry-section > div > div:nth-child(2) > h2 {
    font-size: 28px;
}
.wedding-registry-section > div > div:nth-child(1) > h1 {
    font-size: 4.5rem;
}
.wedding-registry-section > div {
    position: absolute;
    top: 6%;
    left: 5%;
}
.shopping-ways {
    padding: 7px 0;
}
    }

    @media (min-width: 841px) and (max-width: 1080px){
      .smeg-mocha-heading {

    top: 133px;
    left: 95px;
    line-height: 1;
    color: white;
}
.smeg-mocha-heading > h1 {
    font-size: 40px;
    font-weight: 600;
}
.new-exclusive > p {
    font-size: 22px;
}

.new-exclusive {
    left: 65%;
    top: 228px;
}
    }